.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

li{
  border: none;
  border-radius: 5px;
  width: 90%;
  padding:10px;
  display: flex;
  gap: 5px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #e6e2d3;
}